version: '3.9'
services:
  #######
  # Verifier Backend
  #######
  plurality-verifier-be:
    container_name: plurality-verifier-be
    build:
      context: ./packages/api
      dockerfile: Dockerfile
    environment:
      PORT: 5000
      TWITTER_CALLBACK_URL: ${TWITTER_CALLBACK_URL}
      TWITTER_CLIENT_ID: ${TWITTER_CLIENT_ID}
      TWITTER_CLIENT_SECRET: ${TWITTER_CLIENT_SECRET}
      SIGNER_PRIVATE_KEY: ${VERIFIER_WALLET_PRIVATE_KEY}
      VERIFIER_UI_URL: ${VERIFIER_UI_URL}
    restart: always
    ports:
      - 5000:5000
    networks:
      - plurality-verifier-network
  #######
  # Verifier UI
  #######
  plurality-verifier-ui:
    container_name: plurality-verifier-ui
    build:
      context: ./packages/site
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:8000
    networks:
      - plurality-verifier-network
  #######
  # Plurality Snap
  #######
  plurality-snap:
    container_name: plurality-snap
    build:
      context: ./packages/snap
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    networks:
      - plurality-verifier-network
  #######
  # Ingress
  #######
  # ingress:
  #   container_name: ingress
  #   image: nginx:1.15.10-alpine
  #   ports:
  #     - target: 80
  #       published: 80
  #       protocol: tcp
  #       mode: host
  #   volumes:
  #     - ./ingress.conf:/etc/nginx/conf.d/default.conf # API gateway configuration
  #   networks:
  #     - plurality-verifier-network
  #   depends_on:
  #     - plurality-verifier-ui
networks:
  plurality-verifier-network:
